.App {
  text-align: center;
}

button{
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  background-color: var(--blue);
  color: white;
  border-radius: 20px;
}

input{
  border-radius: 20px;
  padding: 10px 16px;
  border: 1px solid #00000066;
  width: 280px;
  margin-top: 10px;
}